BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 4
TabWidth: 4
SortIncludes: true
SortUsingDeclarations: true
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
AlignEscapedNewlines: Left
AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
BreakConstructorInitializers: AfterColon
